/* Enter your custom styles here */

.sapMSLIImgNoInset,
.sapMSLIImg {
    border-radius: 5.25rem;
}

.sapMImg {
    border-radius: 5.25rem !important;
}

[data-iconColor='blue'] .sapUiIcon {
    color: blue !important;
}

.sapMGHLITitle,
.sapMGHLICounter {
    padding-left: 40%;
}